body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}
h1 {
    color: maroon;
    text-align: center;
}
h2 {
    color: navy;
    text-align: center;
}
h3 {
    color: rgb(6, 6, 94);
    font-size: 25px;
}
p {
    color: rgb(2, 77, 2);
    font-size: 18px;
    text-align: center;
}
li {
    color: rgb(0, 75, 0);
    font-size: 18px;
    text-align: center;
}
img {
    width: 800px; 
    height: auto; 
    border: 5px solid maroon
}
